.hero {
    width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
background-color: aqua;
gap: 50px;
flex-direction: column;
}

.hero-content 
 {
 text-align: center;
}

.hero h1{

    color: white;
    font-weight: 700;
    font-size: 40px;
}
.hero p{
    color: white;
    font-size: 40px;
         font-weight: 700;
}

.hero img{
    width: 150px;
    
}